body{
    background-image: linear-gradient(to right top, #e59632, #ff8462, #ff7d94, #ec86c1, #c496de, #b698e8, #a49bf1, #8d9ff9, #9d95ff, #b489ff, #d077ff, #ed5ffb);
    min-height: 100vh;
    height: 100%;
}